
~$*.docx
~$*.pptx
/Acceso a datos/ACDB-NB/nbproject/private/
/Acceso a datos/ACDB-NB/build/
/Acceso a datos/ACDB-NB/dist/
.DS_Store
*/primos.txt
*.class
/Acceso a datos/AngelMartinezDiezNB/nbproject/private/
/Acceso a datos/AngelMartinezDiezNB/build/
/Acceso a datos/Practica 3 - JAXB nb/nbproject/private/
/Acceso a datos/Practica 3 - JAXB nb/build/
/Acceso a datos/Hola Mundo/nbproject/private/
/Acceso a datos/Hola Mundo/build/
/Acceso a datos/Hibernate1/nbproject/private/
/ACBD/MyHibernate/nbproject/private/
/ACBD/Hibernate3/nbproject/private/
/ACBD/Hibernate4/nbproject/private/
/ACBD/Hibernate5/nbproject/private/
/ACBD/Hibernate/basket_acceso_datos/nbproject/private/
/ACBD/Hibernate/basket_acceso_datos_5/nbproject/private/
/ACBD/Hibernate/basket_acceso_datos_5/build/
/ACBD/Matisse/Matise 1/nbproject/private/
/ACBD/Matisse/Matise 1/build/
/ACBD/Matisse/Práctica Matisse Angel/nbproject/private/
/ACBD/Matisse/AngelMartinezEjercicio1/nbproject/private/
/ACBD/Angel Martinez examen ev 2/AngelMartinezEjercicio1/build/
/ACBD/Matisse/AngelMartinezEjercicio2/nbproject/private/
/ACBD/Angel Martinez examen ev 2/AngelMartinezEjercicio2/build/
/ACBD/Hibernate/Practica basket Angel/build/
/ACBD/Matisse/Práctica Matisse Angel/build/