<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.bd3delgadosergio">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MaterialComponents">
        <activity
            android:name=".Activitys.AddProductoListaActivity"
            android:exported="true" />
        <activity
            android:name=".Activitys.NuevoProductoCategoriaActivity"
            android:exported="true" />
        <activity
            android:name=".Activitys.TodosProductosActivity"
            android:exported="true" />
        <activity
            android:name=".Activitys.InfoListaCompra"
            android:exported="true" />
        <activity
            android:name=".Activitys.NuevaListaActivity"
            android:exported="true" />
        <activity
            android:name=".Activitys.ListaCompraActivity"
            android:exported="true" />
        <activity
            android:name=".Activitys.NuevoProductoActivity"
            android:exported="true" />
        <activity
            android:name=".Activitys.ProductosActivity"
            android:exported="true" />
        <activity
            android:name=".Activitys.NuevaCategoriaActivity"
            android:exported="true" />
        <activity
            android:name=".Activitys.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>